@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	font-family: 'Varela Round', sans-serif;
	padding: 0;
	margin: 0;
	transition-duration: 1s;
	font-synthesis: none;
	scroll-behavior: smooth;

	--main: #FFF
	--font: #000000

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}